<p-toolbar class="topnav">
  <div class="p-toolbar-group-start">
    <app-sidebar></app-sidebar>

    <span class="clickable" role="button" (click)="router.navigateByUrl('/')">StudyModules</span>
  </div>


  <p-breadcrumb
    class="max-w-full p-toolbar-group-center"
    [model]="items"
    *ngIf="items && items.length > 0"
    [home]="home"

  >
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.url">
        <p [routerLink]="item.url">{{ item.label }}</p>
      </ng-container>
      <ng-container *ngIf="!item.url">
        <span>{{ item.label }}</span>
      </ng-container>
    </ng-template>
  </p-breadcrumb>


  <div class="p-toolbar-group-end">
    <app-module-search class="tinyMarginRight"></app-module-search>
    <app-language-dropdown></app-language-dropdown>
  </div>
</p-toolbar>
