<p-toolbar class="topnav">
    <div class="p-toolbar-group-start">
        <span>StudyModules</span>

    </div>
    <div class="p-toolbar-group-center">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>


    </div>
    <div class="p-toolbar-group-end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" [ngModel]="searchText"/>
        </span>
      <p-button label="Logout" [text]="true" [raised]="true" severity="secondary"></p-button>
    </div>
</p-toolbar>
