<div class="grid-container" style="width: 100vw">

  <div *ngFor="let department of departments" [style]="'border: 3px solid ' + department.faculty.color + ' ; border-radius: 13px;'">

    <div class="grid-card" [style]="'background: ' + department.faculty.color + '; border-radius: 3px 3px 0px 0px'">
      <header>{{department.name}}</header>
    </div>

    <div style="margin-bottom: 2rem; background: white; padding: 3px" class="clickable"
         (click)="selectCourse(department, course)"
         *ngFor="let course of department.degreePrograms">

      <div [style]="'text-align: center; background: ' + addAlpha(department.faculty.color, 0.5)">
        <p style="text-align: center">{{course.abbreviation}}</p>
        {{course.name}}
      </div>

    </div>

  </div>

</div>
