<div class="smallPadding">

  <p-button *ngIf="authService.isLoggedIn()" (onClick)="switchToEditMode()">Edit</p-button>
  <p-button *ngIf="authService.isLoggedIn()" (onClick)="showChanges()">Änderungshistorie</p-button>

  <div class="compactGrid">
    <app-module-preview-modern [module]="module" />
  </div>

  <div class="fourGrid">
    <p-card
      *ngIf="module">
      <div class="compactGrid">
        <div>
          <p-avatar
            [label]="module.responsible.firstName[0] + module.responsible.lastName[0]"
            [size]="'xlarge'"
            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
          />
        </div>
        <div>
          <h3>{{module.responsible.firstName}} {{module.responsible.lastName}} </h3>
          <p>Verantwortlich</p>
        </div>
      </div>
    </p-card>

    <p-card
      *ngIf="module">
      <div class="compactGrid">
        <div>
          Icon
        </div>
        <div>
          <h3>{{module.credits}}</h3>
          <p>Credits</p>
        </div>
      </div>
    </p-card>

    <p-card
      *ngIf="module">
      <div class="compactGrid">
        <div>
          Icon
        </div>
        <div>
          <h3>{{module.language??"Deutsch"}}</h3>
          <p>Sprache</p>
        </div>
      </div>
    </p-card>

    <p-card
      *ngIf="module">
      <div class="compactGrid">
        <div>
          Icon
        </div>
        <div>
          <h3>{{module.semester}}</h3>
          <p>Semester</p>
        </div>
      </div>
    </p-card>
  </div>

</div>
