<p-table [value]="courses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr class="clickable" (click)="selectCourse(course)">
            <td>{{ course.translations[0].name }}</td>
            <td>
              <div class="flex">
                <button [disabled]="false" style="margin-right: 0.5em;" type="button" pButton pRipple icon="pi pi-eye" (click)="selectCourse(course)">Details</button>
                <button [disabled]="false" style="margin-right: 0.5em;" type="button" pButton pRipple icon="pi pi-file-pdf" (click)="downloadPdf(course, $event)">PDF</button>
                <button *ngIf="authService.isLoggedIn()" style="margin-right: 0.5em;" type="button" pButton pRipple icon="pi pi-refresh" (click)="refreshPdf(course, $event)">NewPdf</button>
                <button *ngIf="authService.isLoggedIn()" style="margin-right: 0.5em;" type="button" pButton pRipple icon="pi pi-clone" (click)="cloneCourse(course, $event)">Clone</button>
                <button *ngIf="authService.isLoggedIn()" style="margin-right: 0.5em;" type="button" pButton pRipple icon="pi pi-trash" (click)="deleteCourse(course, $event)">Delete</button>
              </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Delete Course" [modal]="true" [(visible)]="deleteDialogVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Soll der Studiengang wirklich vollständig gelöscht werden?</span>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="deleteDialogVisible = false" />
        <p-button label="Delete" (click)="onCourseDeleted()" />
    </div>
</p-dialog>


<p-dialog header="Clone Course" [modal]="true" [(visible)]="cloneDialogVisible" [style]="{ width: '25rem' }">
    <div class="smallPadding">
      <br>
      <br>
          <span class="p-float-label">
            <input pInputText id="name" [(ngModel)]="cloneCourseDto.name"/>
            <label for="name">Name</label>
          </span>

          <span class="p-float-label">
            <input pInputText id="shortName" [(ngModel)]="cloneCourseDto.abbreviation"/>
            <label for="shortName">Short Name</label>
          </span>

          <span class="p-float-label">
            <input pInputText id="description" [(ngModel)]="cloneCourseDto.pruefungsordnung"/>
            <label for="description">Prüfungsordnung</label>
          </span>
        </div>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="cloneDialogVisible = false" />
        <p-button [loading]="cloning" label="Clone" (click)="onCourseCloned()" />
    </div>
</p-dialog>

<p-dialog header="Regenerate Pdf" [modal]="true" [(visible)]="refreshPdfDialogVisible">

<p-stepper [linear]="true">
    <p-stepperPanel header="Overview">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="smallPadding">
                There have been <a [routerLink]="'changes'">20 changes</a> since the last publish.
                The last publish was on 01.01.2021.
            </div>

            <div class="flex">
              <div class="flex align-items-center" *ngFor="let language of languages">
                <p-checkbox
                    [(ngModel)]="selectedLanguageIds"
                    [label]="language.abbreviation"
                    [name]="'group1'"
                    [value]="language.id" />
            </div>
            </div>


            <div class="flex pt-4 justify-content-end">
                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="startPdfGeneration(nextCallback)" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Generate Pdf">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div *ngIf="!generatingTexFiles">
              <p>Check the results and then click on "Next" to publish the Pdf.</p>
            </div>

            <div *ngIf="generatingTexFiles" class="smallPadding">
                The Pdf is generating, please wait...
            </div>
            <app-jobs [filterGuids]="waitForJobGuids" [simpleView]="true" />
            <div class="flex pt-4 justify-content-between">
                <p-button *ngIf="resultDownloaded" label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Publish Pdf">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <p>Do you want to publish the Pdf?</p>
            </div>
            <div class="flex pt-4 justify-content-start">
                <p-button class="smallPadding" label="Cancel" icon="pi pi-times-circle" (onClick)="cancelPdfPublish()" />
                <p-button class="smallPadding" label="Publish" icon="pi pi-file-check" (onClick)="confirmPdfPublish()" />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
</p-dialog>

<p-toast />
