<p-table [value]="courses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr class="clickable" (click)="selectCourse(course)">
            <td>{{ course.translations[0].name }}</td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-plus" (click)="selectCourse(course)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
