<div class="">
  <h1>{{moduleText?.name}}</h1>

  <div class="fiveGrid">
    <app-info-card
      *ngIf="module"
      [label]="'Verantwortlich'"
      [value]="module.responsible.firstName + ' ' + module.responsible.lastName"
      [avatarLabel]="module.responsible.firstName[0] + module.responsible.lastName[0]"
    />

    <app-info-card
      *ngIf="module"
      [label]="'ECTS'"
      [value]="module.credits.toString()"
      [icon]="'pi-trophy'"
    />

    <app-info-card
      *ngIf="module"
      [label]="'Sprache'"
      [value]="module.language ?? 'todo'"
      [icon]="'pi-language'"
    />

    <app-info-card
      *ngIf="module"
      [label]="'Semester'"
      [value]="module.semester"
      [icon]="'pi-calendar'"
    />

    <app-info-card
      *ngIf="module"
      [label]="'Gruppengröße'"
      [value]="module.subModules[0].groupSize.toString()"
      [icon]="'pi-users'"
    />

    <app-stats-card
      class="takeTwoColumns takeThreeRows fullheight"
      [title]="'Zeitaufwand'"
    />

    <app-stats-card
      class="takeTwoColumns takeThreeRows fullheight"
      [title]="'Zeitaufwand'"
    />

    <app-stats-card
      class="takeTwoColumns takeThreeRows fullheight"
      [title]="'Zeitaufwand'"
    />
  </div>
</div>
