<ng-container *transloco="let t; prefix:'preview'">

<div class="">
  <h1>{{moduleText?.name}}</h1>

  <div class="fiveGrid">
    <app-info-card
      *ngIf="module"
      [label]="t('responsible')"
      [value]="module.responsible.firstName + ' ' + module.responsible.lastName"
      [avatarLabel]="module.responsible.firstName[0] + module.responsible.lastName[0]"
    />

    <app-info-card
      *ngIf="module"
      [label]="t('credits')"
      [value]="module.credits.toString()"
      [icon]="'pi-trophy'"
    />

    <app-info-card
      *ngIf="module"
      [label]="t('language')"
      [value]="subModuleText?.spokenlanguage"
      [icon]="'pi-language'"
    />

    <app-info-card
      *ngIf="module"
      [label]="t('semester')"
      [value]="module.semester"
      [icon]="'pi-calendar'"
    />

    <app-info-card
      *ngIf="module"
      [label]="t('groupSize')"
      [value]="subModule?.groupSize.toString()"
      [icon]="'pi-users'"
    />

    <app-stats-card
      class="takeTwoColumns takeThreeRows fullheight"
      [title]="t('timeRequired')"
    />

    <app-text-card
      [title]="t('recommendedRequirements')"
      [text]="'Bestandene Vorprüfung, mind. 134 CP erworben aus anderen Modulen des BIN-Programms'"
      [style.grid-column]="'span 3'"
      [style.grid-row]="'span 2'"
    />

    <app-text-card
      [title]="t('event')"
      [text]="subModuleText?.type + ' (' + subModule?.weeklyHours + ' Stunden pro Woche)  <br> ' + moduleText?.exam"
      [style.grid-column]="'span 2'"
      [style.grid-row]="'span 2'"
    />

    <app-text-card
      [title]="t('requiredRequirements')"
      [text]="'Abgeschlossenes Bachelor-Studium mit Informatikanteil, der mindestens den Programmieren-, Datenbanksysteme- und Betriebssysteme/Netze-Veranstaltungen vergleichbar ist.'"
      [style.grid-column]="'span 3'"
      [style.grid-row]="'span 2'"
    />

    <app-text-card
      [title]="t('learningObjectives')"
      [text]="moduleText?.learningOutcomes"
      [style.grid-column]="'span 5'"
      [style.grid-row]="'span 2'"
    />

    <app-text-card
      [title]="t('literature')"
      [text]="'Skript zur Vorlesung Teschl, G., Teschl, S.: Mathematik für Informatiker, Springer - Verlag Hartmann, P.: Mathematik für Informatiker, Vieweg - Verlag'"
      [style.grid-column]="'span 2'"
      [style.grid-row]="'span 2'"
    />

    <app-text-card
      [title]="t('content')"
      [text]="subModuleText?.content"
      [style.grid-column]="'span 3'"
      [style.grid-row]="'span 2'"
    />

    <app-split-text-card
      [title]="t('requirements')"
      [leftCaption]="t('attendance')"
      [leftText]="subModuleText?.presenceRequirements"
      [rightCaption]="t('selfStudy')"
      [rightText]="subModuleText?.selfStudyRequirements"
      [style.grid-column]="'span 5'"
      [style.grid-row]="'span 2'"
    />
  </div>
</div>

</ng-container>
