<p-pickList
    [source]="availableItems"
    [target]="activeItems"
    sourceHeader="Available"
    targetHeader="Selected"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name"
    breakpoint="1400px">
        <ng-template let-item pTemplate="item">
          {{ item.translations[0].name }}
        </ng-template>
</p-pickList>
