<p-pickList
    [source]="availableModuleItems"
    [target]="activeModuleItems"
    sourceHeader="Available Module Fields"
    targetHeader="Selected Module Fields"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    breakpoint="1400px">
        <ng-template let-item pTemplate="item">
          {{ item.translations[0].name }}
        </ng-template>
</p-pickList>

<p-pickList
    [source]="availableSubModuleItems"
    [target]="activeSubModuleItems"
    sourceHeader="Available SubModule Fields"
    targetHeader="Selected SubModule Fields"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    breakpoint="1400px">
        <ng-template let-item pTemplate="item">
          {{ item.translations[0].name }}
        </ng-template>
</p-pickList>
