<div class="compactGrid">
  <h1 style="grid-column: span 2">Teilmodul {{ module?.abbreviation }} {{ moduleText?.name }}</h1>

  <b>Untertitel</b>
  <span></span>

  <b>Verantwortliche(r)</b>
  <span>{{ module?.responsible?.firstName }} {{ module?.responsible?.lastName }} </span>

  <b>Sprache</b>
  <span>{{ subModuleText?.spokenlanguage }}</span>

  <b>Zuordnung zu Curricula</b>
  <span></span>

  <b>Veranstaltungsart, SWS(r)</b>
  <span></span>

  <b>Credits</b>
  <span>{{ module?.credits }}</span>

  <b>Präsenzstunden / Selbststudium</b>
  <span></span>

  <b>Studiensemester</b>
  <span></span>

  <b>Empfehlungen zum Selbststudium</b>
  <span>todo</span>

  <b>Empfohlene Voraussetzungen</b>
  <span>todo</span>

  <b>Studien-/ Prüfungsleistungen</b>
  <span>{{ moduleText?.exam }}</span>

  <b>Gruppengröße</b>
  <span>{{ subModule?.groupSize }}</span>

  <b style="grid-column: span 2">Angestrebte Lernergebnisse</b>
  <span style="grid-column: span 2">todo</span>

  <b style="grid-column: span 2">Inhalt</b>
  <span style="grid-column: span 2">{{ subModuleText?.content }}</span>

  <b style="grid-column: span 2">Anforderungen der Präsenzzeit</b>
  <span style="grid-column: span 2">{{ subModuleText?.presenceRequirements }}</span>

  <b style="grid-column: span 2">Anforderungen des Selbststudiums</b>
  <span style="grid-column: span 2">{{ subModuleText?.selfStudyRequirements }}</span>

  <b style="grid-column: span 2">Literatur</b>
  <span style="grid-column: span 2">todo</span>
</div>
