<div class="compactGrid">
  <h1 style="grid-column: span 2">Teilmodul {{ submodule.abbreviation }} {{ submodule.translations[activeTranslationIndex].name }}</h1>

  <b>Untertitel</b>
  <span>{{ submodule.translations[activeTranslationIndex].subtitle }}</span>

  <b>Verantwortliche(r)</b>
  <span>{{ submodule.responsible.translations.at(0)?.title }} {{ submodule.responsible.firstName }} {{ submodule.responsible.lastName }}</span>

  <b>Sprache</b>
  <span>{{ submodule.translations[activeTranslationIndex].spokenlanguage }}</span>

  <b>Zuordnung zu Curricula</b>
  <span>{{ distinctAbbreviations.join(', ') }}</span>

  <b>Veranstaltungsart, SWS</b>
  <span>{{submodule.translations[activeTranslationIndex].type}}, {{submodule.weeklyHours}} SWS</span>

  <b>Credits</b>
  <span>{{ submodule.credits }}</span>

  <b>Präsenzstunden / Selbststudium</b>
  <span>{{submodule.hoursPresence}} h / {{submodule.hoursSelf}} h</span>

  <b>Studiensemester</b>
  <span>{{submodule.semester}}</span>

  <b>Empfehlungen zum Selbststudium</b>
  <span>{{ submodule.translations[activeTranslationIndex].selfStudyHints }}</span>

  <b>Empfohlene Voraussetzungen</b>
  <span>{{ submodule.requirementsSoft.translations[activeTranslationIndex].name }}</span>

  <b>Studien-/ Prüfungsleistungen</b>
  <span>{{ submodule.translations[activeTranslationIndex].exam }}</span>

  <b>Gruppengröße</b>
  <span>{{ submodule.groupSize }}</span>

  <b style="grid-column: span 2">Angestrebte Lernergebnisse</b>
  <span style="grid-column: span 2">{{ submodule.translations[activeTranslationIndex].learningOutcomes }}</span>

  <b style="grid-column: span 2">Inhalt</b>
  <span style="grid-column: span 2">{{ submodule.translations[activeTranslationIndex].content }}</span>

  <b style="grid-column: span 2">Anforderungen der Präsenzzeit</b>
  <span style="grid-column: span 2">{{ submodule.translations[activeTranslationIndex].presenceRequirements }}</span>

  <b style="grid-column: span 2">Anforderungen des Selbststudiums</b>
  <span style="grid-column: span 2">{{ submodule.translations[activeTranslationIndex].selfStudyRequirements }}</span>

  <b style="grid-column: span 2">Literatur</b>
  <span style="grid-column: span 2">{{ submodule.translations[activeTranslationIndex].literature }}</span>
</div>
