<br>
<br>

<span class="p-float-label smallPadding">
  <p-inputNumber id="number" [(ngModel)]="module.number" />
  <label for="number">Nummer</label>
</span>

<span class="p-float-label smallPadding">
  <input pInputText id="name" [(ngModel)]="moduleText.name" />
  <label for="name">Name</label>
</span>

<span class="p-float-label smallPadding">
  <input pInputText id="subtitle" [(ngModel)]="moduleText.subtitle" />
  <label for="subtitle">Untertitel</label>
</span>

<label for="elective">Wahlpflichtmodul</label>
<p-checkbox id="elective" [binary]="true"  [(ngModel)]="module.elective" />
<br>
<label for="specialization">Vertiefungsmodul</label>
<p-checkbox id="specialization" [binary]="true"  [(ngModel)]="module.specialization" />

<br>

<p-dropdown
    [options]="users"
    [(ngModel)]="module.responsible"
    optionLabel="name"
    placeholder="Select a responsible">
        <ng-template pTemplate="selectedItem">
            <div class="" *ngIf="module.responsible">
              <app-responsible-avatar [responsible]="module.responsible.firstName + ' ' + module.responsible.lastName"/>
            </div>
        </ng-template>
        <ng-template let-user pTemplate="item">
              <app-responsible-avatar [responsible]="user.firstName + ' ' + user.lastName"/>
        </ng-template>
</p-dropdown>



<br>
<br>
<br>

<span class="p-float-label smallPadding">
  <p-inputNumber id="credits" [(ngModel)]="module.credits" />
  <label for="credits">Credits</label>
</span>
<br>

<span class="p-float-label smallPadding">
  <p-inputNumber id="semester" [(ngModel)]="module.courseLength" />
  <label for="credits">Moduldauer</label>
</span>


<textarea
    rows="5"
    cols="30"
    pInputTextarea
    [(ngModel)]="moduleText.learningOutcomes"
>
</textarea>

<br>

<p-multiSelect
    [options]="submodulesForDropdown"
    [group]="true"
    [(ngModel)]="selectedSubmodules"
    (onChange)="selectedSubmodulesChange($event)"
    placeholder="Select Cities"
    scrollHeight="250px"
    display="chip">
</p-multiSelect>


<br>

<p-button
  [text]="true"
                severity="primary"
  label="Veranstaltung (Teilmodul) hinzufügen" />

