<br>
<br>

<span class="p-float-label smallPadding">
  <p-inputNumber id="number" [(ngModel)]="module.number" />
  <label for="number">Nummer</label>
</span>

<span class="p-float-label smallPadding">
  <input pInputText id="name" [(ngModel)]="moduleText.name" />
  <label for="name">Name</label>
</span>

<span class="p-float-label smallPadding">
  <p-autoComplete
    [(ngModel)]="moduleText.niveau"
    [suggestions]="filteredSuggestions"
    (completeMethod)="search($event)" />
  <input pInputText id="niveau" [(ngModel)]="moduleText.niveau" />
  <label for="niveau">Niveau</label>
</span>

<span class="p-float-label smallPadding">
  <p-inputNumber id="credits" [(ngModel)]="module.credits" />
  <label for="credits">Credits</label>
</span>

