<ng-container *transloco="let t;">

  <div class="compactGrid">
  <span class="smallPadding fullwidth">
    <label for="number">Nummer</label>
    <p-inputNumber [style]="{'width':'100%'}" class="fullwidth" id="number" [(ngModel)]="module.number"/>
  </span>

    <span class="smallPadding fullwidth">
    <label for="name">{{ t('name') }}</label>
    <input pInputText id="name" [(ngModel)]="module.translations[0].name"/>
  </span>

    <span class="smallPadding takeTwoColumns">
    <label for="subtitle">{{ t('subtitle') }}</label>
    <input pInputText id="subtitle" [(ngModel)]="module.translations[0].subtitle"/>
  </span>

    <span class="smallPadding">
    <label for="credits">{{ t('credits') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="credits"
      [(ngModel)]="module.credits"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding fullwidth">
    <label for="specialization">{{ t('niveau') }}</label>
    <p-dropdown
      id="specialization"
      class="fullwidth"
      [style]="{'width':'100%'}"
      [options]="specializationOptions"
      [(ngModel)]="module.specialization"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Specialization">
    </p-dropdown>
  </span>

    <span class="smallPadding">
    <label for="semester">{{ t('moduleLength') }}</label>
    <p-inputNumber [style]="{'width':'100%'}" id="semester" [(ngModel)]="module.courseLength"/>
  </span>

    <span class="smallPadding fullwidth">
    <label for="elective">{{ t('elective') }}</label>
    <p-dropdown
      id="elective"
      class="fullwidth"
      [style]="{'width':'100%'}"
      [options]="electiveOptions"
      [(ngModel)]="module.elective"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Elective">
    </p-dropdown>
  </span>

    <span class="smallPadding">
    <label for="responsible">{{ t('responsible') }}</label>
  <app-responsible-dropdown id="responsible" [module]="module" [users]="users"></app-responsible-dropdown>
  </span>

    <span class="smallPadding fullwidth">
    <label for="submodules">{{ t('subModules') }}</label>
    <p-multiSelect
      id="submodules"
      [style]="{'width':'100%'}"
      [options]="submodulesForDropdown"
      [group]="true"
      [(ngModel)]="selectedSubmodules"
      (onChange)="selectedSubmodulesChange($event)"
      placeholder="Select Submodules"
      scrollHeight="250px"
      display="chip">
    </p-multiSelect>
  </span>

    <app-requirement-editor
      [label]="t('hardRequirements')"
      [caption]="t('editHardRequirements')"
      class="takeTwoColumns"
      [(requirement)]="module.requirementsHard"
      [languageId]="languageId"
    />

    <app-requirement-editor
      [label]="t('softRequirements')"
      [caption]="t('editSoftRequirements')"
      class="takeTwoColumns"
      [(requirement)]="module.requirementsSoft"
      [languageId]="languageId"
    />

    <span class="smallPadding takeTwoRows takeTwoColumns">
    <label for="learningOutcomes">{{ t('learningObjectives') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="learningOutcomes"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="module.translations[0].learningOutcomes"></textarea>
  </span>


    <p-button
      (onClick)="validate()"
      [label]="t('proceed')"
    />
  </div>


</ng-container>
