<br>
<br>

<div class="compactGrid">
  <span class="p-float-label smallPadding fullwidth">
    <p-inputNumber [style]="{'width':'100%'}" class="fullwidth" id="number" [(ngModel)]="module.number"/>
    <label for="number">Nummer</label>
  </span>

  <span class="p-float-label smallPadding fullwidth">
    <input pInputText id="name" [(ngModel)]="moduleText.name"/>
    <label for="name">Name</label>
  </span>

  <span class="p-float-label smallPadding takeTwoColumns">
    <input pInputText id="subtitle" [(ngModel)]="moduleText.subtitle"/>
    <label for="subtitle">Untertitel</label>
  </span>

  <span class="p-float-label smallPadding">
    <p-inputNumber [style]="{width: '100%'}" id="credits" [(ngModel)]="module.credits"/>
    <label for="credits">Credits</label>
  </span>



  <span class="p-float-label smallPadding fullwidth">
    <p-dropdown
      id="specialization"
      class="fullwidth"
      [style]="{width: '100%'}"
      [options]="specializationOptions"
      [(ngModel)]="module.specialization"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Specialization">
    </p-dropdown>
    <label for="specialization">Specialization</label>
  </span>

  <span class="p-float-label smallPadding">
    <p-inputNumber [style]="{width: '100%'}" id="semester" [(ngModel)]="module.courseLength"/>
    <label for="semester">Moduldauer</label>
  </span>

  <span class="p-float-label smallPadding fullwidth">
    <p-dropdown
      id="elective"
      class="fullwidth"
      [style]="{width: '100%'}"
      [options]="electiveOptions"
      [(ngModel)]="module.elective"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Elective">
    </p-dropdown>
    <label for="elective">Elective</label>
  </span>

  <app-responsible-dropdown id="responsible" [module]="module" [users]="users"></app-responsible-dropdown>

  <span class="p-float-label smallPadding takeTwoRows">
    <textarea
      class="fullwidth fullheight"
      id="learningOutcomes"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="moduleText.learningOutcomes"></textarea>
    <label for="learningOutcomes">Learning Outcomes</label>
  </span>

  <span class="p-float-label smallPadding fullwidth">
    <p-multiSelect
      id="submodules"
      [style]="{width: '100%'}"
      [options]="submodulesForDropdown"
      [group]="true"
      [(ngModel)]="selectedSubmodules"
      (onChange)="selectedSubmodulesChange($event)"
      placeholder="Select Submodules"
      scrollHeight="250px"
      display="chip">
    </p-multiSelect>
    <label for="submodules">Submodules</label>
  </span>
</div>
