<ng-container *transloco="let t;">

  <div class="compactGrid">
  <span class="smallPadding fullwidth">
    <label for="abbreviation">{{t('abbreviation')}}</label>
    <input
      pInputText
      [class]="abbreviationClass"
      [pTooltip]="abbreviationTooltip"
      (input)="validateAbbreviation(true)"
      id="abbreviation"
      [(ngModel)]="module.abbreviation"
    />
  </span>

    <span class="smallPadding fullwidth">
    <label for="name">{{ t('name') }}</label>
    <input
      pInputText
      id="name"
      [(ngModel)]="module.translations[0].name"
      [class]="nameClass"
      [pTooltip]="nameTooltip"
      (input)="validateName(true)"
    />
  </span>

    <span class="smallPadding">
    <label for="subtitle">{{ t('subtitle') }}</label>
    <input
      pInputText
      id="subtitle"
      [(ngModel)]="module.translations[0].subtitle"
      [class]="subtitleClass"
      [pTooltip]="subtitleTooltip"
      (input)="validateSubtitle(true)"
    />
  </span>

    <span class="smallPadding">
    <label for="group">{{ t('group') }}</label>
      <p-dropdown
        id="group"
        [style]="{'width':'100%'}"
        [options]="availableGroups"
        [(ngModel)]="module.groupId"
        (onChange)="selectedGroupChanged($event)"
        optionLabel="id"
        optionValue="id"
        [class]="groupClass"
        [pTooltip]="groupTooltip"
        placeholder="Select Group">
        <ng-template pTemplate="selectedItem">
      <div class="" *ngIf="module.groupId > 0">
        {{ getGroupLabel(getGroupDto(module.groupId)) }}
      </div>
    </ng-template>
    <ng-template let-group pTemplate="item">
      {{ getGroupLabel(group) }}
    </ng-template>
      </p-dropdown>
  </span>

    <span class="smallPadding fullwidth takeTwoColumns">
    <label for="submodules">{{ t('subModules') }}</label><br>
    <p-multiSelect
      id="submodules"
      [style]="{'width':'90%'}"
      [options]="submodulesForDropdown"
      [group]="true"
      [(ngModel)]="selectedSubmodules"
      (onChange)="selectedSubmodulesChange($event)"
      placeholder="Select Submodules"
      scrollHeight="250px"
      display="chip">
    </p-multiSelect>
      <p-button
        [style]="{'width':'10%'}"
        icon="pi pi-sparkles"
        [pTooltip]="t('importTooltip')"
      ></p-button>
  </span>

    <span class="smallPadding">
    <label for="credits">{{ t('credits') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="credits"
      [(ngModel)]="module.credits"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding fullwidth">
    <label for="specialization">{{ t('niveau') }}</label>
    <p-dropdown
      id="specialization"
      class="fullwidth"
      [style]="{'width':'100%'}"
      [options]="specializationOptions"
      [(ngModel)]="module.specialization"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Specialization">
    </p-dropdown>
  </span>

    <span class="smallPadding">
    <label for="courseLength">{{ t('moduleLength') }}</label>
    <p-inputNumber
      [style]="{'width':'100%'}"
      id="courseLength" [(ngModel)]="module.courseLength"
      [class]="courseLengthClass"
      [pTooltip]="courseLengthTooltip"
      (onInput)="validateCourseLength(true)"
    />
  </span>

    <span class="smallPadding fullwidth">
    <label for="elective">{{ t('elective') }}</label>
    <p-dropdown
      id="elective"
      class="fullwidth"
      [style]="{'width':'100%'}"
      [options]="electiveOptions"
      [(ngModel)]="module.elective"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Elective">
    </p-dropdown>
  </span>

    <span class="smallPadding">
    <label for="responsible">{{ t('responsible') }}</label>
  <app-responsible-dropdown
    id="responsible"
    [module]="module"
    [users]="users"
    (responsibleChanged)="validateResponsible(true)"
    [dropDownClass]="responsibleClass"
    [dropDownTooltip]="responsibleTooltip"
  ></app-responsible-dropdown>
  </span>

     <span class="smallPadding">
    <label for="hoursPresence">{{ t('hoursPresence') }}</label>
    <p-inputNumber
      [style]="{'width':'100%'}"
      id="hoursPresence" [(ngModel)]="module.hoursPresence"
      [class]="hoursPresenceClass"
      [pTooltip]="hoursPresenceTooltip"
      (onInput)="validateHoursPresence(true)"
    />
  </span>

    <span class="smallPadding">
    <label for="semester">{{ t('semester') }}</label>
    <input
      pInputText
      id="semester"
      [(ngModel)]="module.semester"
      [class]="semesterClass"
      [pTooltip]="semesterTooltip"
      (input)="validateSemester(true)"
    />
  </span>

     <span class="smallPadding">
    <label for="hoursSelf">{{ t('hoursSelf') }}</label>
    <p-inputNumber
      [style]="{'width':'100%'}"
      id="hoursSelf" [(ngModel)]="module.hoursSelf"
      [class]="hoursSelfClass"
      [pTooltip]="hoursSelfTooltip"
      (onInput)="validateHoursSelf(true)"
    />
  </span>

    <app-requirement-editor
      [label]="t('hardRequirements')"
      [caption]="t('editHardRequirements')"
      class="takeTwoColumns"
      [(requirement)]="module.requirementsHard"
      [languageId]="languageId"
    />

    <app-requirement-editor
      [label]="t('softRequirements')"
      [caption]="t('editSoftRequirements')"
      class="takeTwoColumns"
      [(requirement)]="module.requirementsSoft"
      [languageId]="languageId"
    />

    <span class="smallPadding takeTwoRows takeTwoColumns">
    <label for="learningOutcomes">{{ t('learningObjectives') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="learningOutcomes"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="module.translations[0].learningOutcomes"
      [class]="learningOutcomesClass"
      [pTooltip]="learningOutcomesTooltip"
      (input)="validateLearningOutcomes(true)"
    ></textarea>
  </span>


    <p-button
      (onClick)="validate()"
      [label]="t('validate')"
      [severity]="validationClass"
    />

    <p>{{validationResult}}</p>

    <p-button
      (onClick)="proceed()"
      [label]="t('proceed')"
    />

  </div>


</ng-container>
