.stats-card
  border: 1px solid #ccc
  border-radius: 5px
  background-color: #f9f9f9
  height: 100%
  display: flex
  flex-direction: column

  .stats-header h4
    padding-left: 1em


  .stats-card-content
    display: flex
    flex-direction: row
    height: 100%

    .stats-right
      .stats-chart
        width: 100%
        height: 100%
        display: flex

        div
          position: static


    .stats-left
      display: flex
      flex-direction: column

      .stats-content
        display: flex
        flex-direction: row

        .text-labels
          margin-right: 0.2em

        .text-labels, .text-values
          text-align: right
          font-weight: 500
