<div>
  <p-stepper class="largePadding" *ngIf="availableLanguages">
    <p-stepperPanel *ngFor="let language of availableLanguages" [header]="getHeader(language)">
      <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
        <app-module-translator *ngIf="currentModule"
                               [currentModule]="currentModule"
                               [languageId]="language.id"
                               [languageAbbreviation]="language.abbreviation"
                               [nextCallback]="nextCallback"
        />
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel [header]="'Änderungen speichern'">
      <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
      <textarea
        id="changeSummary"
        rows="5"
        cols="30"
        pInputTextarea
        (ngModelChange)="summeryInputFieldClass = ''"
        [class]="summeryInputFieldClass"
        [(ngModel)]="summaryText">
            </textarea>
        <p-button
          label="Save"
          [loading]="saving"
          [outlined]="true"
          severity="primary"
          (click)="saveModule()"
        />
      </ng-template>

    </p-stepperPanel>
  </p-stepper>
</div>


<p-dialog
  header="Header"
  [(visible)]="saveDialogVisible"
  [modal]="true">
  <ng-template pTemplate="header">
    <p>Please summarize your changes.</p>
  </ng-template>
  <div class="smallPadding">
          <span class="p-float-label">
            <textarea
              id="summary"
              rows="5"
              cols="30"
              pInputTextarea
              (ngModelChange)="summeryInputFieldClass = ''"
              [class]="summeryInputFieldClass"
              [(ngModel)]="summaryText">
            </textarea>
            <label for="summary">Summary</label>
          </span>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="saveDialogVisible = false"/>
    <p-button
      label="Save"
      [loading]="saving"
      [outlined]="true"
      severity="primary"
      (click)="saveModule()"
    />
  </ng-template>
</p-dialog>

<p-toast/>
