<ng-container *transloco="let t;">

  <div>
    <p-stepper class="largePadding" *ngIf="availableLanguages">
      <p-stepperPanel *ngFor="let language of availableLanguages" [header]="this.languageService.getHeader(language)">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <app-module-translator *ngIf="currentModule"
                                 [(currentModule)]="currentModule"
                                 [languageId]="language.id"
                                 [languageAbbreviation]="language.abbreviation"
                                 [nextCallback]="nextCallback"
          />
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel [header]="t('saveChanges')">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flexColumn">
            <label for="changeSummary">{{ t('changeSummary') }}</label>
            <textarea
              id="changeSummary"
              rows="5"
              cols="30"
              pInputTextarea
              (ngModelChange)="summeryInputFieldClass = ''"
              [class]="summeryInputFieldClass"
              [(ngModel)]="summaryText">
            </textarea>
            <p-button
              [label]="t('save')"
              [loading]="saving"
              [outlined]="true"
              severity="primary"
              (click)="saveModule()"
            />
          </div>
        </ng-template>

      </p-stepperPanel>
    </p-stepper>
  </div>

  <p-toast/>
</ng-container>
