<ng-container *transloco="let t;">


<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">StudyModules</ng-template>
    <ng-template *ngIf="authService.isLoggedIn()" pTemplate="content">
      <p-panel header="Verwaltung">
        <a routerLink="/submodules">Veranstaltungen (Teilmodule)</a>
        <br>
        <br>
        <a routerLink="/requirements">Vorraussetzungen</a>
      </p-panel>
      <br>
      <p-panel header="Latex Server">
        <a routerLink="/jobs">Warteschlange</a>
      </p-panel>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="footer">
        <p-button *ngIf="!authService.isLoggedIn()" [label]="t('login')" [text]="true" [pTooltip]="t('getNewAccountHere')" [raised]="true" severity="secondary" (onClick)="showLogin()"></p-button>
        <p-button *ngIf="authService.isLoggedIn()" [label]="t('logout')" [text]="true" [raised]="true" severity="secondary" (onClick)="logout()"></p-button>
        <span class="version">Version 1.0.2</span>
      </div>
    </ng-template>
</p-sidebar>

<p-button [text]="true" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>


<p-dialog
  (keydown)="onKeydown($event)"
    header="Header"
    [(visible)]="loginDialogVisible"
    [modal]="true">
        <ng-template pTemplate="header">
            <h3>StudyModules Login</h3>
        </ng-template>
        <div class="smallPadding">
          <span class="p-float-label">
            <input pInputText id="username" [(ngModel)]="username"/>
            <label for="username">E-Mail</label>
          </span>
        </div>

        <div class="smallPadding">
          <span class="p-float-label">
            <p-password [(ngModel)]="password" [feedback]="false" id="password"></p-password>
            <label for="password">{{t('password')}}</label>
          </span>
        </div>
        <ng-template pTemplate="footer">
            <p-button
                label="{{t('cancel')}}"
                [text]="true"
                severity="secondary"
                (click)="loginDialogVisible = false" />
            <p-button
                label="{{t('login')}}"
                [outlined]="true"
                severity="primary"
                (click)="login()"
              />
        </ng-template>
</p-dialog>

</ng-container>
