<ng-container *transloco="let t;">

<div class="compactGrid">
  <h1 style="grid-column: span 2">{{t('module')}} {{ module?.abbreviation }} {{ module?.translations?.at(0)?.name }}</h1>
  <b>{{t('subTitle')}}</b>
  <span>{{ module?.translations?.at(0)?.subtitle }}</span>

  <b>{{t('niveau')}}</b>
  <span>{{ module?.specialization? translate("specializationModule", undefined, languageCode) : translate("noSpecializationModule", undefined, languageCode) }}</span>

  <b>{{t('elective')}}</b>
  <span>{{ module?.elective? translate("electiveModule", undefined, languageCode) : translate("noElectiveModule", undefined, languageCode) }}</span>

  <b>{{t('subModules')}}</b>
  <div *ngIf="module?.subModules;">
    <div *ngFor="let subModule of module!.subModules!">
      {{subModule?.abbreviation}}  {{module?.translations?.[0]?.name}}, {{t('required')}}
    </div>
  </div>

  <b>{{t('responsible')}}</b>
  <span>{{ module?.responsible?.translations?.at(0)?.title }} {{ module?.responsible?.firstName }} {{ module?.responsible?.lastName }}</span>

  <b>{{t('credits')}}</b>
  <span>{{ module?.credits }}</span>

  <b>Präsenzstunden / Selbststudium</b>
  <span>{{module?.hoursPresence}} h / {{module?.hoursSelf}} h</span>

  <b>{{t('semester')}}</b>
  <span>{{module?.semester}}</span>

  <b>{{t('moduleLength')}}</b>
  <span>{{ module?.courseLength }} {{t('semester')}}</span>

  <b>{{t('hardRequirements')}}</b>
  <span>{{ module?.requirementsHard?.translations?.at(0)?.name }}</span>

  <b>{{t('softRequirements')}}</b>
  <span>{{ module?.requirementsSoft?.translations?.at(0)?.name }}</span>

  <b>{{t('exam')}}</b>
  <span>{{ module?.translations?.at(0)?.exam }}</span>

  <b>{{t('learningObjectives')}}</b>
  <span>{{ module?.translations?.at(0)?.learningOutcomes }}</span>
</div>
</ng-container>
