<div class="compactGrid">
  <h1 style="grid-column: span 2">Modul {{ module?.abbreviation }} {{ moduleText?.name }}</h1>
  <b>Untertitel</b>
  <span>{{ moduleText?.subtitle }}</span>

  <b>Modulniveau</b>
  <span>{{ module?.specialization? "Vertiefungsmodul" : "Grundlagenmodul" }}</span>

  <b>Pflicht / Wahlpflicht</b>
  <span>{{ module?.elective? "Wahlpflichtmodul" : "Pflichtmodul" }}</span>

  <b>Teilmodule</b>
  <div *ngIf="module?.subModules;">
    <div *ngFor="let subModule of module!.subModules!">
      {{subModule?.abbreviation}}  {{module?.translations?.[0]?.name}}, Pflicht
    </div>
  </div>

  <b>Verantwortliche(r)</b>
  <span>{{ module?.responsible?.translations?.at(0)?.title }} {{ module?.responsible?.firstName }} {{ module?.responsible?.lastName }}</span>

  <b>Credits</b>
  <span>{{ module?.credits }}</span>

  <b>Moduldauer</b>
  <span>{{ module?.courseLength }} Semester</span>

  <b>Vorraussetzungen nach Prüfungsordnung</b>
  <span>{{ module?.requirementsHard?.translations?.at(0)?.name }}</span>

  <b>Empfohlene Vorraussetzungen</b>
  <span>{{ module?.requirementsSoft?.translations?.at(0)?.name }}</span>

  <b>Studien-/ Prüfungsleistungen</b>
  <span>{{ moduleText?.exam }}</span>

  <b>Angestrebte Lernergebnisse</b>
  <span>{{ moduleText?.learningOutcomes }}</span>
</div>
