<p-table
  [value]="modules"
  [tableStyle]="{ 'min-width': '50rem' }"
  selectionMode="single"
>
    <ng-template pTemplate="header">
        <tr>
            <th>
              <div>
                    Studiengang
                    <p-columnFilter type="text" field="course" display="menu" />
                </div>
            </th>
            <th>
                <div>
                    Name
                    <p-columnFilter type="text" field="name" display="menu" />
                </div>
            </th>
            <th>
              <div>
                    Semester
                    <p-columnFilter type="numeric" field="semester" display="menu" />
                </div>
            </th>
            <th>Verantwortlich</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-module>
        <tr class="clickable" (click)="console.log(module.abbreviation)">
            <td>
              <p-tag severity="success" value="{{ module.course }}" [pTooltip]="tooltipContent" />
              <ng-template #tooltipContent>
                <span> <p>{{module.course_name}}</p> </span>
              </ng-template>
            </td>
            <td>{{ module.name }}</td>
            <td>{{ module.semester }}</td>
            <td>{{ module.responsible }}</td>
        </tr>
    </ng-template>
</p-table>
