/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

body
  margin: 0
  padding: 0


.fullwidth
  width: 100%
  margin: 0
  padding: 0


.smallPadding
  padding: 5px

.smallMargin
  margin: 2em

.tinyMarginRight
  margin-right: 1em

.roundCorners
  border-radius: 5px

.thirdWidth
  width: 33.33%

.height10rem
  height: 10rem

.centerText
  text-align: center

.clickable
  cursor: pointer

.flex
  display: flex

.justifyContentAround
  justify-content: space-around

.grid-container
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  grid-template-rows: 1fr
  align-items: center
  column-gap: 1em
  row-gap: 1em
  width: 100%
  padding: 1em

  header
    font-size: 1.5em
    font-weight: bold
    padding: 1em
    border-radius: 5px

  .grid-card
    width: 100%
    height: 100%
    text-align: center
    padding: 5px
    border-radius: 5px
