/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

body
  margin: 0
  padding: 0


.fullwidth
  width: 100%
  margin: 0
  padding: 0


.smallPadding
  padding: 5px

.smallMargin
  margin: 2em

.roundCorners
  border-radius: 5px

.thirdWidth
  width: 33.33%

.height10rem
  height: 10rem

.centerText
  text-align: center

.clickable
  cursor: pointer

.flex
  display: flex

.justifyContentAround
  justify-content: space-around
