/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

body
  margin: 0
  padding: 0


.fullwidth
  width: 100%
  margin: 0
  padding: 0

.fullheight
  height: 100%
  margin: 0
  padding: 0


.smallPadding
  padding: 5px

.mediumPadding
  padding: 1em

.largePadding
  padding: 2em

.margin-top
  margin-top: 1em

.margin-right
  margin-right: 1em

.roundCorners
  border-radius: 5px

.thirdWidth
  width: 33.33%

.height10rem
  height: 10rem

.centerText
  text-align: center

.clickable
  cursor: pointer

.flex
  display: flex
  justify-content: center
  align-items: center

.justifyContentAround
  justify-content: space-around

.justifyContentBetween
  justify-content: space-between

.facultyOverview
  height: 90vh !important

.grid-container
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%))
  align-items: center
  justify-content: center
  column-gap: 5em
  row-gap: 5em
  width: 100%
  height: 100%
  padding: 5%

  header
    font-size: 1.5em
    font-weight: bold
    padding: 1em
    border-radius: 5px

  .grid-card
    width: 100%
    height: 100%
    text-align: center
    padding: 5px
    border-radius: 5px

.compactGrid // two columns
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 20px

.threeGrid // three columns
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px

.fiveGrid // five columns
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(11, 11vh)
  grid-gap: 20px

.takeTwoColumns
  grid-column: span 2

.takeThreeRows
  grid-row: span 2

.block
  display: block
