<ng-container *transloco="let t;">


<p-panel *ngIf="!deleted">
    <ng-template pTemplate="header">
        <div class="flex">
            <p>
                {{ course.translations[0].name }}
            </p>
          <p-tag class="smallPadding" *ngIf="course.hidden" [value]="t('hidden')" severity="info" />
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <button *ngIf="authService.isLoggedIn()" class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu2" [model]="items" [popup]="true" />
    </ng-template>
    <div class="flex justifyContentAround">


                <p-button (onClick)="downloadPdf(course)"
                          [pTooltip]="t('showPdf')" icon="pi pi-file-pdf"
                          severity="secondary"
                          [label]="'PDF'"
                          [text]="true"
                />

      <p-button (onClick)="selectCourse(course)"
                          [pTooltip]="t('showModules')" icon="pi pi-arrow-circle-right"
                          severity="primary"
                          [label]="'Module'"
                          [text]="true"
                />
            </div>
</p-panel>


<p-dialog [header]="t('deleteCourse')" [modal]="true" [(visible)]="deleteDialogVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">{{ t('deleteDegreeProgramQuery') }}</span>

    <div class="flex justify-content-end gap-2">
        <p-button [label]="t('cancel')" severity="secondary" (click)="deleteDialogVisible = false" />
        <p-button [label]="t('delete')" (click)="onCourseDeleted()" />
    </div>
</p-dialog>


<p-dialog [header]="t('cloneCourse')" [modal]="true" [(visible)]="cloneDialogVisible" [style]="{ width: '25rem' }">
    <div class="smallPadding">
      <br>
      <br>
          <span class="p-float-label">
            <input pInputText id="name" [(ngModel)]="cloneCourseDto.name"/>
            <label for="name">{{ t('name') }}</label>
          </span>

          <span class="p-float-label">
            <input pInputText id="shortName" [(ngModel)]="cloneCourseDto.abbreviation"/>
            <label for="shortName">{{ t('abbreviation') }}</label>
          </span>

          <span class="p-float-label">
            <input pInputText id="description" [(ngModel)]="cloneCourseDto.pruefungsordnung"/>
            <label for="description">{{ t('po') }}</label>
          </span>
        </div>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="cloneDialogVisible = false" />
        <p-button [loading]="cloning" [label]="t('clone')" (click)="onCourseCloned()" />
    </div>
</p-dialog>

<p-dialog [header]="t('publishNewPdf')" [modal]="true" [(visible)]="refreshPdfDialogVisible">

<p-stepper [linear]="true">
    <p-stepperPanel [header]="t('overviewCaption')">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="smallPadding">
                {{ t('selectLanguagesToCreatePdf') }}
            </div>

            <div class="flexColumn margin-top">
              <div class="flex align-items-center smallPadding" *ngFor="let language of languages">
                <p-checkbox
                    [(ngModel)]="selectedLanguageIds"
                    [label]="language.abbreviation + ' (' + t('lastPublished') + ': ' + getLastPublish(language) + ')'"
                    [name]="'group1'"
                    [value]="language.id" />
            </div>
            </div>


            <div class="flex pt-4 justify-content-end margin-top">
                <p-button [label]="t('next')" icon="pi pi-arrow-right" iconPos="right" (onClick)="startPdfGeneration(nextCallback)" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel [header]="t('generatePdf')">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div *ngIf="!generatingTexFiles">
              <p>{{t('checkResults')}}</p>
            </div>

            <div *ngIf="generatingTexFiles" class="smallPadding">
                {{ t('generatingPdf') }}
            </div>
            <app-jobs (jobsDone)="onJobsDone()" [filterGuids]="waitForJobGuids" [simpleView]="true" />
            <div class="flex pt-4 justify-content-between">
              <p *ngIf="jobsAreDone">{{t('publishedSuccessfully')}}</p>
              <p-button *ngIf="jobsAreDone" [label]="t('close')" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
</p-dialog>
</ng-container>
