<ng-container *transloco="let t;">

  <div class="compactGrid">

    <span class="smallPadding">
    <label for="degreeProgram">{{ t('degreeProgram') }}</label>
    <p-dropdown
      id="degreeProgram"
      [(ngModel)]="selectedDegreeProgram"
      (onChange)="selectedDegreeProgramChanged()"
      [options]="degrees"
      [optionLabel]="'abbreviation'"
      [class]="degreeProgramClass"
      [pTooltip]="degreeProgramTooltip"
      [style]="{'width':'100%'}">
    </p-dropdown>
  </span>

  <span class="smallPadding fullwidth">
    <label for="abbreviation">{{ t('abbreviation') }}</label>
    <input
      pInputText
      id="abbreviation"
      [(ngModel)]="subModule.abbreviation"
      (input)="validateAbbreviation(true)"
      [class]="abbreviationClass"
      [pTooltip]="abbreviationTooltip"/>
  </span>

    <span class="smallPadding fullwidth">
    <label for="name">{{ t('name') }}</label>
    <input
      pInputText
      id="name"
      [(ngModel)]="subModule.translations[activeTranslationIndex].name"
      (input)="validateName(true)"
      [class]="nameClass"
      [pTooltip]="nameTooltip"/>
  </span>

    <span class="smallPadding takeTwoColumns">
    <label for="subtitle">{{ t('subtitle') }}</label>
    <input
      pInputText
      id="subtitle"
      [(ngModel)]="subModule.translations[activeTranslationIndex].subtitle"
      (input)="validateSubtitle(true)"
      [class]="subtitleClass"
      [pTooltip]="subtitleTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="language">{{ t('language') }}</label>
    <p-autoComplete

      id="language"
      [(ngModel)]="subModule.translations[activeTranslationIndex].spokenlanguage"
      (input)="validateLanguage(true)"
      [class]="languageClass"
      [pTooltip]="languageTooltip"
      [suggestions]="filteredLanguages"
      (completeMethod)="searchLanguage($event)"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
    />
  </span>

    <span class="smallPadding">
    <label for="selfStudyHints">{{ t('selfStudyHints') }}</label>
    <p-autoComplete
      id="selfStudyHints"
      [(ngModel)]="subModule.translations[activeTranslationIndex].selfStudyHints"
      (input)="validateSelfStudyHints(true)"
      [class]="selfStudyHintsClass"
      [pTooltip]="selfStudyHintsTooltip"
      [suggestions]="filteredSelfStudyHints"
      (completeMethod)="searchSelfStudyHints($event)"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
    />
  </span>

    <span class="smallPadding">
    <label for="semester">{{ t('semester') }}</label>
    <input
      pInputText
      id="semester"
      [(ngModel)]="subModule.semester"
      (input)="validateSemester(true)"
      [class]="semesterClass"
      [pTooltip]="semesterTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="type">{{ t('type') }}</label>
    <p-autoComplete
      id="type"
      [(ngModel)]="subModule.translations[activeTranslationIndex].type"
      (input)="validateType(true)"
      [class]="typeClass"
      [pTooltip]="typeTooltip"
      [suggestions]="filteredTypes"
      (completeMethod)="searchType($event)"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
    />
  </span>

    <span class="smallPadding">
    <label for="exam">{{ t('exam') }}</label>
    <p-autoComplete
      id="exam"
      [(ngModel)]="subModule.translations[activeTranslationIndex].exam"
      (input)="validateExam(true)"
      [class]="examClass"
      [pTooltip]="examTooltip"
      [suggestions]="filteredExams"
      (completeMethod)="searchExam($event)"
      [style]="{'width':'100%'}"
      [inputStyle]="{'width':'100%'}"
    />
  </span>

    <span class="smallPadding">
    <label for="weeklyHours">{{ t('weeklyHours') }}</label>
    <p-inputNumber
      (onInput)="validateWeeklyHours(true)"
      [style]="{'width':'100%'}"
      id="weeklyHours"
      [(ngModel)]="subModule.weeklyHours"
      [classList]="weeklyHoursClass"
      [pTooltip]="weeklyHoursTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="groupSize">{{ t('groupSize') }}</label>
    <p-inputNumber
      (onInput)="validateGroupSize(true)"
      [style]="{'width':'100%'}"
      id="groupSize"
      [(ngModel)]="subModule.groupSize"
      [classList]="groupSizeClass"
      [pTooltip]="groupSizeTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="credits">{{ t('credits') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="credits"
      [(ngModel)]="subModule.credits"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>


    <span class="smallPadding">
    <label for="presenceHours">{{ t('presenceHours') }}</label>
    <p-inputNumber
      (onInput)="validatePresenceHours(true)"
      [style]="{'width':'100%'}"
      id="presenceHours"
      [(ngModel)]="subModule.hoursPresence"
      [classList]="presenceHoursClass"
      [pTooltip]="presenceHoursTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="selfStudyHours">{{ t('selfStudyHours') }}</label>
    <p-inputNumber
      (onInput)="validateSelfStudyHours(true)"
      [style]="{'width':'100%'}"
      id="selfStudyHours"
      [(ngModel)]="subModule.hoursSelf"
      [classList]="selfStudyHoursClass"
      [pTooltip]="selfStudyHoursTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="responsible">{{ t('responsible') }}</label>
  <app-responsible-dropdown
    id="responsible"
    [subModule]="subModule"
    [users]="users"
    [dropDownClass]="responsibleClass"
    [dropDownTooltip]="responsibleTooltip??''"
    (responsibleChanged)="validateResponsible(true)"
  ></app-responsible-dropdown>
  </span>

    <app-requirement-editor
      *ngIf="subModule && subModule.degreeProgramId > 0"
      [label]="t('softRequirements')"
      [caption]="t('editSoftRequirements')"
      [(requirement)]="subModule.requirementsSoft"
      [languageId]="languageId"
      [courseId]="subModule.degreeProgramId"
    />

    <span class="smallPadding takeTwoRows">
    <label for="learningOutcomes">{{ t('learningObjectives') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="learningOutcomes"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[activeTranslationIndex].learningOutcomes"
      [class]="learningOutcomesClass"
      [pTooltip]="learningOutcomesTooltip"
      (input)="validateLearningOutcomes(true)"
    ></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="content">{{ t('content') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="content"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[activeTranslationIndex].content"
      [class]="contentClass"
      [pTooltip]="contentTooltip"
      (input)="validateContent(true)"
    ></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="presenceRequirements">{{ t('presenceRequirements') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="presenceRequirements"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[activeTranslationIndex].presenceRequirements"
      [class]="presenceRequirementsClass"
      [pTooltip]="presenceRequirementsTooltip"
      (input)="validatePresenceRequirements(true)"
    ></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="selfStudyRequirements">{{ t('selfStudyRequirements') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="selfStudyRequirements"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[activeTranslationIndex].selfStudyRequirements"
      [class]="selfStudyRequirementsClass"
      [pTooltip]="selfStudyRequirementsTooltip"
      (input)="validateSelfStudyRequirements(true)"
    ></textarea>
  </span>
    <div class="takeTwoRows">
    <span class="smallPadding takeTwoRows">
    <label for="literature">{{ t('literature') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="literature"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[activeTranslationIndex].literature"
      [class]="literatureClass"
      [pTooltip]="literatureTooltip"
      (input)="validateLiterature(true)"
    ></textarea>
  </span>
    </div>

    <p-button
      (onClick)="validate()"
      [label]="t('validate')"
      [severity]="validationClass"
    />
    <p>{{validationResult}}</p>
    <p-button
      (onClick)="proceed()"
      [label]="t('proceed')"
    />
  </div>
</ng-container>
