<ng-container *transloco="let t;">

  <div class="compactGrid">
  <span class="smallPadding fullwidth">
    <label for="number">Nummer</label>
    <p-inputNumber [style]="{'width':'100%'}" class="fullwidth" id="number" [(ngModel)]="subModule.number"/>
  </span>

    <span class="smallPadding fullwidth">
    <label for="name">{{ t('name') }}</label>
    <input pInputText id="name" [(ngModel)]="subModule.translations[0].name"/>
  </span>

    <span class="smallPadding takeTwoColumns">
    <label for="subtitle">{{ t('subtitle') }}</label>
    <input pInputText id="subtitle" [(ngModel)]="subModule.translations[0].subtitle"/>
  </span>

    <span class="smallPadding">
    <label for="language">{{ t('language') }}</label>
    <input pInputText id="language" [(ngModel)]="subModule.translations[0].spokenlanguage"/>
  </span>

    <span class="smallPadding">
    <label for="selfStudyHints">{{ t('selfStudyHints') }}</label>
    <input pInputText id="selfStudyHints" [(ngModel)]="subModule.translations[0].selfStudyHints"/>
  </span>

    <span class="smallPadding">
    <label for="semester">{{ t('semester') }}</label>
    <input pInputText id="semester" [(ngModel)]="subModule.semester"/>
  </span>

    <span class="smallPadding">
    <label for="type">{{ t('type') }}</label>
    <input pInputText id="type" [(ngModel)]="subModule.translations[0].type"/>
  </span>

    <span class="smallPadding">
    <label for="exam">{{ t('exam') }}</label>
    <input pInputText id="exam" [(ngModel)]="subModule.translations[0].exam"/>
  </span>

    <span class="smallPadding">
    <label for="weeklyHours">{{ t('weeklyHours') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="weeklyHours"
      [(ngModel)]="subModule.weeklyHours"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="groupSize">{{ t('groupSize') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="groupSize"
      [(ngModel)]="subModule.groupSize"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="credits">{{ t('credits') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="credits"
      [(ngModel)]="subModule.credits"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>


    <span class="smallPadding">
    <label for="presenceHours">{{ t('presenceHours') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="presenceHours"
      [(ngModel)]="subModule.hoursPresence"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="selfStudyHours">{{ t('selfStudyHours') }}</label>
    <p-inputNumber
      (onInput)="validateCredits(true)"
      [style]="{'width':'100%'}"
      id="selfStudyHours"
      [(ngModel)]="subModule.hoursSelf"
      [classList]="creditClass"
      [pTooltip]="creditTooltip"
    />
  </span>

    <span class="smallPadding">
    <label for="responsible">{{ t('responsible') }}</label>
  <app-responsible-dropdown id="responsible" [subModule]="subModule" [users]="users"></app-responsible-dropdown>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="learningOutcomes">{{ t('learningObjectives') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="learningOutcomes"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[0].learningOutcomes"></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="content">{{ t('content') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="content"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[0].content"></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="presenceRequirements">{{ t('presenceRequirements') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="presenceRequirements"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[0].presenceRequirements"></textarea>
  </span>

    <span class="smallPadding takeTwoRows">
    <label for="selfStudyRequirements">{{ t('selfStudyRequirements') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="selfStudyRequirements"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[0].selfStudyRequirements"></textarea>
  </span>
    <div class="takeTwoRows">
    <span class="smallPadding takeTwoRows">
    <label for="literature">{{ t('literature') }}</label>
    <textarea
      class="fullwidth fullheight"
      id="literature"
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="subModule.translations[0].literature"></textarea>
  </span>
    </div>
  </div>
</ng-container>
